
<img src="Tp1.png">


### Importer les bibliothèques **numpy** et **pandas** et importer functools de reduce

In [2]:
# Importer les bibliothèques nécessaires

In [3]:
import pandas as pd
import numpy as np
from functools import reduce

# PART I

Explorer la dataset `BL-Flickr-Images-Book.csv` 

**NB:** faites attentionsau chemin

## 1 Exploration du dataset

In [4]:
# Exporter BL-Flickr-Images-Book.csv dans un data frame nomé df
df = pd.read_csv('BL-Flickr-Images-Book.csv')

# Afficher les 5 premières lignes
df.head(25)

# Afficher les neme premières lignes : df.head(n)

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
5,481,"Fourth edition, revised, etc.",London,1875,William Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9006.ee.10.
6,519,NaN,London,1872,The Author,Lagonells. By the author of Darmayne (F. E. A....,"A., F. E.","ASHLEY, Florence Emily.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12637.e.3.
7,667,NaN,"pp. 40. G. Bryan & Co: Oxford, 1898",NaN,NaN,"The Coming of Spring, and other poems. By J. A...","A., J.|A., J.","ANDREWS, J. - Writer of Verse",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 011652.g.73.
8,874,NaN,London],1676,NaN,"A Warning to the inhabitants of England, and L...",Remaʿ.,"ADAMS, Mary.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11645.bb.42.
9,1143,NaN,London,1679,NaN,A Satyr against Vertue. (A poem: supposed to b...,"A., T.","OLDHAM, John.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11602.ee.10.(2.)
10,1280,NaN,Coventry,1802,Printed by J. Turner,"An Account of the many and great Loans, Benefa...",NaN,"CARTE, Samuel.|JACKSON, Edward - Rector of Sou...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 1430.g.17.
11,1808,NaN,Christiania,1859,NaN,Erindringer som Bidrag til Norges Historie fra...,"AALL, Jacob.","AALL, J. C.|LANGE, Christian Christoph Andreas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9425.cc.37.
12,1905,NaN,Firenze,1888,NaN,Gli Studi storici in terra d'Otranto ... Framm...,"AAR, Ermanno - pseud. [i.e. Luigi Giuseppe Oro...","S., L. G. D.|SIMONE, Luigi Giuseppe Oronzo Mar...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10136.g.22.
13,1929,NaN,Amsterdam,"1839, 38-54",NaN,De Aardbol. Magazijn van hedendaagsche land- e...,NaN,"WITKAMP, Pieter Harme.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10002.g.16-19.
14,2836,NaN,Savona,1897,NaN,Cronache Savonesi dal 1500 al 1570 ... Accresc...,"ABATE, Giovanni Agostino.","ASSERETO, Giovanni.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10136.h.24.
15,2854,NaN,London,1865,E. Moxon & Co.,"See-Saw; a novel ... Edited [or rather, writte...","ABATI, Francesco.","READE, William Winwood.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12623.bbb.12.
16,2956,NaN,Paris,1860-63,NaN,"Géodésie d'une partie de la Haute Éthiopie,...","ABBADIE, Antoine Thompson d'.","RADAU, Rodolphe.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10096.i.19.
17,2957,NaN,Paris,1873,NaN,[With eleven maps.],"ABBADIE, Antoine Thompson d'.","RADAU, Rodolphe.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10095.i.13.
18,3017,"Nueva edicion, anotada ... y continuada ... po...",Puerto-Rico,1866,NaN,"[Historia geográfica, civil y politica de la ...","ABBAD Y LASIERRA, Agustín Íñigo - Bishop of...","ACOSTA Y CALBO, José Julian de.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10480.h.18.
19,3131,NaN,New York,1899,W. Abbatt,"The Crisis of the Revolution, being the story ...","ABBATT, William.","ANDRÉ, John - Major|ARNOLD, Benedict.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9603.g.14.
20,4598,NaN,Hull,1814,The Author,Peace: a lyric poem. [With prefatory address b...,"ABBOTT, Thomas Eastoe.","WRANGHAM, Francis.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11641.f.1.
21,4884,NaN,London,1820,J. Hatchard & Son,"Abdallah; or, The Arabian Martyr: a Christian ...",NaN,"BARHAM, Thomas Foster - the Elder",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 994.l.1.(7.)
22,4976,[Another edition.] Abdollatiphi historiæ Ægypt...,Oxonii,1800,"J. Cooke, etc.",[Abdollatiphi Historiæ Ægypti compendium. [Wit...,NaN,"WHITE, Joseph - Canon of Christ Church",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 983.e.6.|British Library...
23,5382,NaN,London,"1847, 48 [1846-48]",Punch Office,The Comic History of England ... With ... colo...,"A'BECKETT, Gilbert Abbott.","LEECH, John - Artist",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS C.131.d.16.|British Libr...
24,5385,[Another edition.] Illustrated by John Leech.,London,[1897?],"Bradbury, Agnew & Co.",[The comic history of England ... With twenty ...,"A'BECKETT, Gilbert Abbott.","LEECH, John - Artist",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9503.f.4.

## 2 Jeter un coup d'oeil dans le dataset

In [5]:
# des informations sur DATASET
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

## 3 Qu'est ce que vous remarquez?

In [6]:
# Rédiger votre réponse

## 4 Dropping unnecessary columns

Nous allons restreindre l'étude à seulement 7 colomnes pour cela nous allons supprimer 7 colonnes que nous jugeons unitiles por le moment :
```Python
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']```

In [7]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

#Eliminer les colonnes dans la liste de to_drop du dataframe df
#les paremetre : inplace : pour faire la modification sur le data originalet axis :pour dit supprime des ligne si axis = 1 donc on supprime des ligne 
df.drop(to_drop, inplace = True , axis =1)


#Afficherle résultat

## 5 Setting the index of the dataset
Changer l'index pourqu'ille prenne la valeur de l'identifiant `Identifier`

In [8]:
###Changerl'index 
# supprime le Identifier qui ajoute par defaut a cause de df.info()
df.set_index('Identifier', inplace =True)

###Afficher le résultat
df.head(50)

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
481,London,1875,William Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
519,London,1872,The Author,Lagonells. By the author of Darmayne (F. E. A....,"A., F. E.",http://www.flickr.com/photos/britishlibrary/ta...
667,"pp. 40. G. Bryan & Co: Oxford, 1898",NaN,NaN,"The Coming of Spring, and other poems. By J. A...","A., J.|A., J.",http://www.flickr.com/photos/britishlibrary/ta...
874,London],1676,NaN,"A Warning to the inhabitants of England, and L...",Remaʿ.,http://www.flickr.com/photos/britishlibrary/ta...
1143,London,1679,NaN,A Satyr against Vertue. (A poem: supposed to b...,"A., T.",http://www.flickr.com/photos/britishlibrary/ta...
1280,Coventry,1802,Printed by J. Turner,"An Account of the many and great Loans, Benefa...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
1808,Christiania,1859,NaN,Erindringer som Bidrag til Norges Historie fra...,"AALL, Jacob.",http://www.flickr.com/photos/britishlibrary/ta...
1905,Firenze,1888,NaN,Gli Studi storici in terra d'Otranto ... Framm...,"AAR, Ermanno - pseud. [i.e. Luigi Giuseppe Oro...",http://www.flickr.com/photos/britishlibrary/ta...
1929,Amsterdam,"1839, 38-54",NaN,De Aardbol. Magazijn van hedendaagsche land- e...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
2836,Savona,1897,NaN,Cronache Savonesi dal 1500 al 1570 ... Accresc...,"ABATE, Giovanni Agostino.",http://www.flickr.com/photos/britishlibrary/ta...
2854,London,1865,E. Moxon & Co.,"See-Saw; a novel ... Edited [or rather, writte...","ABATI, Francesco.",http://www.flickr.com/photos/britishlibrary/ta...
2956,Paris,1860-63,NaN,"Géodésie d'une partie de la Haute Éthiopie,...","ABBADIE, Antoine Thompson d'.",http://www.flickr.com/photos/britishlibrary/ta...
2957,Paris,1873,NaN,[With eleven maps.],"ABBADIE, Antoine Thompson d'.",http://www.flickr.com/photos/britishlibrary/ta...
3017,Puerto-Rico,1866,NaN,"[Historia geográfica, civil y politica de la ...","ABBAD Y LASIERRA, Agustín Íñigo - Bishop of...",http://www.flickr.com/photos/britishlibrary/ta...
3131,New York,1899,W. Abbatt,"The Crisis of the Revolution, being the story ...","ABBATT, William.",http://www.flickr.com/photos/britishlibrary/ta...
4598,Hull,1814,The Author,Peace: a lyric poem. [With prefatory address b...,"ABBOTT, Thomas Eastoe.",http://www.flickr.com/photos/britishlibrary/ta...
4884,London,1820,J. Hatchard & Son,"Abdallah; or, The Arabian Martyr: a Christian ...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
4976,Oxonii,1800,"J. Cooke, etc.",[Abdollatiphi Historiæ Ægypti compendium. [Wit...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
5382,London,"1847, 48 [1846-48]",Punch Office,The Comic History of England ... With ... colo...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
5385,London,[1897?],"Bradbury, Agnew & Co.",[The comic history of England ... With twenty ...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
5389,London,[1897?],"Bradbury, Agnew & Co.",[The Comic History of Rome ... Illustrated by ...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
5432,Milano,1893,NaN,Signa: opera in tre atti [founded on the novel...,"A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)",http://www.flickr.com/photos/britishlibrary/ta...
6036,London,1805,C. & R. Baldwin,"The Venetian Outlaw, a drama in three acts ......",NaN,http://www.flickr.com/photos/britishlibrary/ta...
6821,Aberdeen,1837,J. Davidson & Co.,Description of the Coast between Aberdeen and ...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
7521,Wien,1896,NaN,Aus Kaukasischen Ländern. Reisebriefe von H. ...,"ABICH, Wilhelm Hermann.",http://www.flickr.com/photos/britishlibrary/ta...
7630,Abingdon,1898,W. H. Hooke,Selections from the Municipal Chronicles of th...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
8239,Quebec,1899,L. J. Demers & Frère,"The Plains of Abraham, 1759, a spot sacred to ...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
8435,London,1892,Effingham Wilson & Co.,The Witwatersrand Gold Mines. A true and unvar...,"ABRAHAM, Félix - Writer on Mining",http://www.flickr.com/photos/britishlibrary/ta...
8440,London,1894,Effingham Wilson,The New Era of the Goldmining Industry in the ...,"ABRAHAM, Félix - Writer on Mining",http://www.flickr.com/photos/britishlibrary/ta...
11361,Leipzig,[1894-96,NaN,"Tirol und Vorarlberg ... Mit ... einer Karte, ...","ACHLEITNER, Arthur - and UBL (E.)",http://www.flickr.com/photos/britishlibrary/ta...
11852,"pp. 40. W. Cann: Plymouth, [1876?]",NaN,NaN,"A Question of Holy Writ, suggested by a lectur...","ACKLAND - Lieut., R.N",http://www.flickr.com/photos/britishlibrary/ta...
13074,London,1899,W. Thacker & Co.,A Summer in High Asia: being a record of sport...,"ADAIR, Frederick Edward Shafto.",http://www.flickr.com/photos/britishlibrary/ta...
13364,London,[1885],"Griffith, Farran & Co.",A Hand-book and History of Sidmouth from the T...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
14466,London,[1860?],Adams & King,"The Historie of Eald Street, now called Old St...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
14703,1845,1846,NaN,First (-Third) Annual Report on the Geology of...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
15141,London,1893,T. Fisher Unwin,The New Egypt. A social sketch. [Edited by J. ...,"ADAMS, Francis William Lauderdale.",http://www.flickr.com/photos/britishlibrary/ta...
15146,London,1894,T. Fisher Unwin,Tiberius: a drama ... With introduction by W. ...,"ADAMS, Francis William Lauderdale.",http://www.flickr.com/photos/britishlibrary/ta...
16173,enk,1817,"printed by W. Thorne, and published by J. Call...",Memoirs of the Life and Doctrines of the late ...,"ADAMS, Joseph - M.D., F.L.S",http://www.flickr.com/photos/britishlibrary/ta...
16543,London,1816,John Murray,"The Narrative of Robert Adams, a sailor, who w...","Adams, Robert - Sailor",http://www.flickr.com/photos/britishlibrary/ta...
16544,Boston,1817,Wells & Lilley,"[The Narrative of Robert Adams, a sailor, who ...","ADAMS, Robert - Sailor",http://www.flickr.com/photos/britishlibrary/ta...
17602,London,1897,J. Bowden,East End Idylls ... With an introduction by th...,"Adcock, Arthur St. John",http://www.flickr.com/photos/britishlibrary/ta...
17752,Upsaliæ,[1833],NaN,Acta historiam regis Chistierni II. illustrant...,"ADDE, Petrus Adolphus.",http://www.flickr.com/photos/britishlibrary/ta...
18173,London,1804,Vernor & Hood,[The Works of the late Right Honourable Joseph...,"ADDISON, Joseph - Right Hon",http://www.flickr.com/photos/britishlibrary/ta...
18218,Edinburgh,1859,James Nichol,The Poetical Works of Joseph Addison; Gay's Fa...,"Addison, Joseph",http://www.flickr.com/photos/britishlibrary/ta...
18347,Yverdon,1777,NaN,"L'Esprit d'Addisson, ou les Beautés du Specta...","ADDISON, Joseph - Right Hon",http://www.flickr.com/photos/britishlibrary/ta...

## 6 Donner un appérçu sur la colonne `Date of Publication`

In [9]:
### Afficher  les 25 premières valeurs de Date of Publication
df['Date of Publication'].head(25)

Identifier
206            1879 [1878]
216                   1868
218                   1869
472                   1851
480                   1857
481                   1875
519                   1872
667                    NaN
874                   1676
1143                  1679
1280                  1802
1808                  1859
1905                  1888
1929           1839, 38-54
2836                  1897
2854                  1865
2956               1860-63
2957                  1873
3017                  1866
3131                  1899
4598                  1814
4884                  1820
4976                  1800
5382    1847, 48 [1846-48]
5385               [1897?]
Name: Date of Publication, dtype: object

> Remarque : Observer la date de publication qui correspond à l'index 206.
> Ca nécessite un nettoyage et une correction : il faut éliminer certains symboles

## 7 Cleaning columns using the `.apply` function

### Ecrire une fonction qui permet de nettoyer la colonne des dates

In [10]:
unwanted_characters = ['[', ',', '-']
# Completer la fonction suivante
def clean_dates(item):
    dop= str(item.loc['Date of Publication'])
    
    if dop == 'nan' or dop[0] == '[':
        pass
    
    for character in unwanted_characters:
        if character in dop:
            pass
            pass
    
    return dop

df['Date of Publication'] = df.apply(clean_dates, axis = 1)

In [11]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [12]:
#Voici une autre méthode
#exécuter pour voir le résultat
unwanted_characters = ['[', ',', '-']

def clean_dates(dop):
    dop = str(dop)
    if dop.startswith('[') or dop == 'nan':
        return 'NaN'
    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index] #iraje3 awel parte 9bal position mta3 caractere ilman7obohimch
    return dop

df['Date of Publication'] = df['Date of Publication'].apply(clean_dates)
df.head(10)
df['Date of Publication'].head(25)

Identifier
206     1879
216      1868
218      1869
472      1851
480      1857
481      1875
519      1872
667       NaN
874      1676
1143     1679
1280     1802
1808     1859
1905     1888
1929     1839
2836     1897
2854     1865
2956     1860
2957     1873
3017     1866
3131     1899
4598     1814
4884     1820
4976     1800
5382     1847
5385      NaN
Name: Date of Publication, dtype: object

## 8 Observer la collone `Author`
### Completer la fonction `clean_author_names`qui permet de corriger les valeurs de cet colonne

In [13]:
# compléter la fonction suivante ( à la place de pass)
#cree un fonction qui permete de correction la attribut author
def clean_author_names(author):
    
    author = str(author)
    
    if author == 'nan':
        return 'NaN'
    
    author = author.split(',')

    if len(author) == 1:
        name = filter(lambda x: x.isalpha(), author[0])
        return reduce(lambda x, y: x + y, name)
    
    last_name, first_name = author[0], author[1]

    first_name = first_name[:first_name.find('-')] if '-' in first_name else first_name
    
    if first_name.endswith(('.', '.|')):
        parts = first_name.split('.')
        
        if len(parts) > 1:
            first_occurence = first_name.find('.')
            final_occurence = first_name.find('.',first_occurence + 1)
            print(final_occurence)
            first_name = first_name[:first_name.find('.')]
        else:
            first_name = first_name[:first_name.find('')]
    
    last_name = last_name.capitalize()
    
    return f'{first_name} {last_name}'


df['Author'] = df['Author'].apply(clean_author_names)

5
5
5
5
5
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
8
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
-1
5
5
5
5
5
5
5
5
-1
5
-1
5
5
-1
-1
5
5
5
5
5
5
-1
-1
5
5
5
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
15
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
5
5
5
-1
3
-1
-1
5
-1
-1
-1
-1
5
5
5
5
-1
5
5
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
12
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
10
-1
-1
-1
-1
-1
5
5
-1
5
-1
-1
5
5
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
11
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
7
-1
-1
-1
-1
-1
-1
-1
12
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
7
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
13
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
5
-1
-1
5
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
16
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
13
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
7
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
3
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
5
-1
5
5
-1
5
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
5
-1
-1
11
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
10
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
15
15
15
5
-1
-1
-1
5
10
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
7
-1
-1
-1
-1
-1
-1
15
15
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
5
5
-1
-1
-1
-1
10
10
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
-1
-1
-1
-1
-1
-1
5
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
15
-1
-1
-1
-1
-1
10
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
5
-1
5
5
-1
-1
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
11
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
14
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
6
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
6
5
5
-1
5
5
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
5
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
5
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
16
-1
-1
-1
-1
-1
-1
-1
10
5
5
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
10
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
17
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
5
6
5
5
-1
-1
-1
5
5
-1
-1
-1
-1
-1
-1
-1
6
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
9
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
-1
5
5
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
12
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
5
5
-1
5
5
-1
5
5
-1
5
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
7
-1
-1
-1
-1
5
-1
-1
9
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
6
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
10
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
8
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
13
-1
-1
5
5
5
5
6
-1
-1
-1
-1
5
5
12
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
8
8
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
11
-1
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
10
-1
-1
-1
-1
-1
-1
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
5
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

# Résultat attendu 
<img src="Datasets\capture42.png">

In [14]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,AA,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,A A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,A A.,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...",E A.,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...",E A.,http://www.flickr.com/photos/britishlibrary/ta...

##  Observer la colone `title`
### 9 Completer la fonction `clean_title`qui permet de corriger les valeurs de cet colonne

# Résultat attendu 
 <img src="Datasets/capture43.png">

In [15]:
## complétrer la fonction suivante ( à la place de pass)

def clean_title(title):
    
    if title == 'nan':
        return 'NaN'
    
    if title[0] == '[':
        title = title[1:title.find(']')]
        
    if 'by' in title:
        title = title[:title.find('by')]
    elif 'By' in title:
        title = title[:title.find('by')]

        
    if '[' in title:
        title = title[:title.find('[')]

    title = title[:-2]
        
    title = list(map(str.capitalize, title.split()))
    return ' '.join(title)
    
df['Title'] = df['Title'].apply(clean_title)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes,AA,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All For Greed,A A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love The Avenger. By The Author Of “all For Gr...,A A.,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, Chiefly Ecclesiastical, To The...",E A.,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"The World In Which I Live, And My Place In It....",E A.,http://www.flickr.com/photos/britishlibrary/ta...

# PART II
## 1 Cleaning entire dataset
### On considère le fichier suivant 'university_towns.txt'

In [17]:
!head Datasets/university_towns.txt

'head' n’est pas reconnu en tant que commande interne
ou externe, un programme exécutable ou un fichier de commandes.

In [19]:
with open('C:/Users/dell/Desktop/Cours 3DNI/DATAmining/university_towns.txt', 'r') as text:
    textfile = text.read()
    print(textfile)

Alabama[edit]
Auburn (Auburn University)[1]
Florence (University of North Alabama)
Jacksonville (Jacksonville State University)[2]
Livingston (University of West Alabama)[2]
Montevallo (University of Montevallo)[2]
Troy (Troy University)[2]
Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]
Tuskegee (Tuskegee University)[5]
Alaska[edit]
Fairbanks (University of Alaska Fairbanks)[2]
Arizona[edit]
Flagstaff (Northern Arizona University)[6]
Tempe (Arizona State University)
Tucson (University of Arizona)
Arkansas[edit]
Arkadelphia (Henderson State University, Ouachita Baptist University)[2]
Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]
Fayetteville (University of Arkansas)[7]
Jonesboro (Arkansas State University)[8]
Magnolia (Southern Arkansas University)[2]
Monticello (University of Arkansas at Monticello)[2]
Russellville (Arkansas Tech University)[2]
Searcy (Harding University)[5]
California[edit]
Angwin (Pacific Union College)[2]
Arcata (Humboldt State University)[5]
Berkeley (University of California, Berkeley)[5]
Chico (California State University, Chico)[2]
Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]
Cotati (California State University, Sonoma)[2]
Davis (University of California, Davis)[1]
Irvine (University of California, Irvine)
Isla Vista (University of California, Santa Barbara)[2]
University Park, Los Angeles (University of Southern California)
Merced (University of California, Merced)
Orange (Chapman University)
Palo Alto (Stanford University)
Pomona (Cal Poly Pomona, WesternU)[9][10][11] and formerly Pomona College
Redlands (University of Redlands)
Riverside (University of California, Riverside, California Baptist University, La Sierra University)
Sacramento (California State University, Sacramento)
University District, San Bernardino (California State University, San Bernardino, American Sports University)
San Diego (University of California, San Diego, San Diego State University)
San Luis Obispo (California Polytechnic State University)[2]
Santa Barbara (Fielding Graduate University, Santa Barbara City College, University of California, Santa Barbara, Westmont College)[2]
Santa Cruz (University of California, Santa Cruz)[2]
Turlock (California State University, Stanislaus)
Westwood, Los Angeles (University of California, Los Angeles)[2]
Whittier (Whittier CollegeRio Hondo College)
Colorado[edit]
Alamosa (Adams State College)[2]
Boulder (University of Colorado at Boulder)[12]
Durango (Fort Lewis College)[2]
Fort Collins (Colorado State University)[13]
Golden (Colorado School of Mines)
Grand Junction (Colorado Mesa University)
Greeley (University of Northern Colorado)
Gunnison (Western State College)[2]
Pueblo, Colorado (Colorado State University-Pueblo)
Connecticut[edit]
Fairfield (Fairfield University, Sacred Heart University)
Middletown (Wesleyan University)
New Britain (Central Connecticut State University)
New Haven (Yale University, University of New Haven, Southern Connecticut State University, Albertus Magnus College, Quinnipiac University)[14]
New London (Connecticut College, US Coast Guard Academy, Mitchell College)[2]
Storrs (University of Connecticut)[2]
Willimantic (Eastern Connecticut State University)[2]
Delaware[edit]
Dover (Delaware State University)[1]
Newark (University of Delaware)[1]
Florida[edit]
Ave Maria (Ave Maria University)
Boca Raton (Florida Atlantic University)
Coral Gables (University of Miami)
DeLand (Stetson University)[5]
Estero (Florida Gulf Coast University)
Gainesville (University of Florida, Santa Fe College)
Orlando (University of Central Florida)
Sarasota (New College of Florida, Ringling College of Art and Design, State College of Florida, Manatee-Sarasota, University of South Florida Sarasota-Manatee)
St. Augustine (Flagler College)
St. Leo (St. Leo University)
Tallahassee (Florida State University, Florida A&M University)
Tampa (University of South Florida)
Georgia[edit]
Albany (Albany State University)
Athens (University of Georgia)[15]
Atlanta (Georgia State University, Georgia Tech, Emory)[2]
Carrollton (University of West Georgia)[2]*Dahlonega (North Georgia College & State University)[2]
Demorest (Piedmont College)[2]
Fort Valley (Fort Valley State University)[2]
Kennesaw (Kennesaw State University)
Milledgeville (Georgia College & State University)[2]
Mount Vernon (Brewton-Parker College)[2]
Oxford (Oxford College)
Rome (Berry College, Shorter University)
Savannah (Armstrong Atlantic State University, Savannah State University, Savannah College of Art and Design)
Statesboro (Georgia Southern University)[5]
Valdosta (Valdosta State University)[2]
Waleska (Reinhardt College)[2]
Young Harris (Young Harris College)[2]
Hawaii[edit]
Manoa (University of Hawaii at Manoa)[2]
Idaho[edit]
Moscow (University of Idaho)[2]
Pocatello (Idaho State University)[2]
Rexburg (BYU-Idaho)[2]
Illinois[edit]
Carbondale (Southern Illinois University Carbondale)[5]
Champaignâ€“Urbana (University of Illinois at Urbanaâ€“Champaign)[5]
Charleston (Eastern Illinois University)[2]
DeKalb (Northern Illinois University)[2]
Edwardsville (Southern Illinois University Edwardsville)[2]
Evanston (Northwestern University)[2]
Lebanon (McKendree University)[2]
Macomb (Western Illinois University)[2]
Normal (Illinois State University)[2]
Peoria (Bradley University)
Indiana[edit]
Bloomington (Indiana University Bloomington)[5]
Crawfordsville (Wabash College)
Greencastle (DePauw University)[5]
Hanover (Hanover College)[2]
Marion (Indiana Wesleyan University)[2]
Muncie (Ball State University)[2]
Oakland City (Oakland City University)[2]
Richmond (Earlham College)[2]
South Bend (Notre Dame University[2])
Terre Haute (Indiana State University, Rose-Hulman Institute of Technology)[2]
Upland (Taylor University)[2]
Valparaiso (Valparaiso University)
West Lafayette (Purdue University)[2]
Iowa[edit]
Ames (Iowa State University)[2]
Cedar Falls (University of Northern Iowa)[2]
Cedar Rapids, Iowa (Coe College )
Decorah (Luther College)[5]
Fayette (Upper Iowa University)[2]
Grinnell (Grinnell College)[15]
Iowa City (University of Iowa)[15]
Lamoni (Graceland University)[2]
Mount Vernon, (Cornell College)
Orange City (Northwestern College)[2]
Sioux Center (Dordt College)[2]
Storm Lake (Buena Vista University)[2]
Waverly (Wartburg College)[2]
Kansas[edit]
Baldwin City (Baker University)[5]
Emporia (Emporia State University)[2]
Hays (Fort Hays State University)[2]
Lawrence (University of Kansas, Haskell Indian Nations University)[15]
Manhattan (Kansas State University, Manhattan Christian College)[15]
Pittsburg (Pittsburg State University)[2]
Kentucky[edit]
Bowling Green (Western Kentucky University)[2]
Columbia (Lindsey Wilson College)[2]
Georgetown (Georgetown College)
Highland Heights (Northern Kentucky University)
Lexington (University of Kentucky, Transylvania University[5]
Louisville (University of Louisville)
Morehead (Morehead State University)[2]
Murray (Murray State University)[5]
Richmond (Eastern Kentucky University)[2]
Williamsburg (University of the Cumberlands)[2]
Wilmore (Asbury University, Asbury Theological Seminary)[2]
Louisiana[edit]
Baton Rouge (Louisiana State University, Southern University)
Grambling (Grambling State University)[5]
Hammond (Southeastern Louisiana University)[2]
Lafayette (University of Louisiana at Lafayette)
Monroe (University of Louisiana at Monroe)[2]
Natchitoches (Northwestern State University)[2]
Ruston (Louisiana Tech University)[2]
Thibodaux (Nicholls State University)[2]
Maine[edit]
Augusta (University of Maine at Augusta)[2]
Bar Harbor (College of the Atlantic)
Brunswick (Bowdoin College)
Farmington (University of Maine at Farmington)[2]
Fort Kent (University of Maine at Fort Kent)
Gorham (University of Southern Maine)[2]
Lewiston, Maine (Bates College)
Orono (University of Maine)[2]
Waterville (Thomas College, Colby College)
Maryland[edit]
Annapolis (United States Naval Academy, St. John's College)
Chestertown (Washington College)[2]
College Park (University of Maryland, College Park)[16]
Cumberland (Allegany College of Maryland)
Emmitsburg (Mount St. Mary's University)[2]
Frostburg (Frostburg State University)[5]
Princess Anne (University of Maryland Eastern Shore)[5]
Towson (Towson University, Goucher College)[2]
Salisbury (Salisbury University)[2]
Westminster (McDaniel College)
Massachusetts[edit]
Boston (Boston University, Boston College, Boston Conservatory, New England Conservatory, Brandeis University, Northeastern University, UMass Boston, Emmanuel College, Bunker Hill Community College, Roxbury Community College, Suffolk University, Simmons College, among many others)
Bridgewater (Bridgewater State College)[2]
Cambridge (Harvard University, Massachusetts Institute of Technology)(Lesley University, Cambridge College, Longy School of Music)[15]
Chestnut Hill (Boston College)
The Colleges of Worcester Consortium:
Dudley (Nichols College)
North Grafton (Cummings School of Veterinary Medicine at Tufts University)
Paxton (Anna Maria College)
Worcester (Assumption, Becker, Clark University, Holy Cross, Mass. College of Pharmacy & Health Sciences, Quinsigamond Community College, UMass Medical School, Worcester State University, Worcester Polytechnic Institute)
The Five College Region of Western Massachusetts:
Amherst (Amherst College, Hampshire College, University of Massachusetts Amherst)[15]
Northampton (Smith College)
South Hadley (Mount Holyoke College)
Fitchburg (Fitchburg State College)
North Adams (Massachusetts College of Liberal Arts)
Springfield (American International College), (Springfield College), and (Western New England College)
Waltham (Bentley University), (Brandeis University)
Williamstown (Williams College)
Framingham (Framingham State University)
Michigan[edit]
Adrian (Adrian College, Siena Heights University)
Albion (Albion College)[17]
Allendale (Grand Valley State University)
Alma (Alma College)
Ann Arbor (University of Michigan)[1]
Berrien Springs (Andrews University)[2]
Big Rapids (Ferris State University)[2]
East Lansing (Michigan State University)[2]
Flint (Kettering University, University of Michigan-Flint)
Hillsdale (Hillsdale College)
Houghton (Michigan Technological University)[5]
Kalamazoo (Western Michigan University, Kalamazoo College)[2]
Marquette (Northern Michigan University)[2]
Midland (Northwood University)
Mount Pleasant (Central Michigan University)[2]
Olivet (Olivet College)[2]
Saginaw (Saginaw Valley State University)
Sault Ste. Marie (Lake Superior State University)
Spring Arbor (Spring Arbor University)[2]
Ypsilanti (Eastern Michigan University)[2]
Minnesota[edit]
Bemidji (Bemidji State University)[2]
Crookston (University of Minnesota Crookston)[2]
Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of Wisconsinâ€“Superior, Duluth Business University
Faribault, South Central College
Mankato (Minnesota State University, Mankato),[2] Bethany Lutheran College
Marshall (Southwest Minnesota State University)[2]
Moorhead (Minnesota State University, Moorhead, Concordia College)[18]
Morris (University of Minnesota Morris)[2]
Northfield (Carleton College, St. Olaf College)[5]
North Mankato, South Central College
St. Cloud (St. Cloud State University, The College of St. Scholastica)[2]
St. Joseph (College of Saint Benedict)[2]
St. Peter (Gustavus Adolphus College)[2]
Winona (Winona State University, St. Mary's University of Minnesota)[19]
Mississippi[edit]
Cleveland (Delta State University)[2]
Hattiesburg (University of Southern Mississippi)[20]
Itta Bena (Mississippi Valley State University)[2]
Oxford (University of Mississippi)[2]
Starkville (Mississippi State University)[2]
Missouri[edit]
Bolivar (Southwest Baptist University)[2]
Cape Girardeau (Southeast Missouri State University)[2]
Columbia (University of Missouri, Stephens College, Columbia College)[20]
Fayette (Central Methodist University)[2]
Fulton (Westminster College and William Woods University).
Kirksville (Truman State University, A. T. Still University)[2]
Maryville (Northwest Missouri State University)[2]
Rolla (Missouri University of Science and Technology)[2]
Warrensburg (University of Central Missouri)[5]
Montana[edit]
Bozeman (Montana State University)[2]
Dillon (University of Montana Western)[2]
Missoula (University of Montana)[5]
Nebraska[edit]
Chadron (Chadron State College)[5]
Crete (Doane College)[2]
Kearney (University of Nebraska at Kearney)[2]
Lincoln (University of Nebraska at Lincoln)[5]
Peru (Peru State College)[2]
Seward (Concordia University)[2]
Wayne (Wayne State College)[2]
Nevada[edit]
Las Vegas (University of Nevada, Las Vegas)
Reno (University of Nevada, Reno)
New Hampshire[edit]
New London, New Hampshire (Colby-Sawyer College)
Durham (University of New Hampshire)[2]
Hanover (Dartmouth College)[5]
Henniker (New England College)
Keene (Keene State College)[2]
Plymouth (Plymouth State University)[2]
Rindge (Franklin Pierce University)
New Jersey[edit]
Ewing (The College of New Jersey), (Rider University)
Jersey City (New Jersey City University), (Saint Peter's University)
Glassboro (Rowan University)[2]
Hoboken (Stevens Institute of Technology)
Madison (Drew University), (Fairleigh Dickinson University), (College of Saint Elizabeth)
Newark (Rutgers University), (New Jersey Institute of Technology), (UMDNJ)
New Brunswick (Rutgers University)[5]
Princeton (Princeton University)[5]
Union (Kean University)
West Long Branch (Monmouth University)
New Mexico[edit]
Hobbs (University of the Southwest)[2]
Las Cruces (New Mexico State University)[2]
Las Vegas (New Mexico Highlands University)[2]
Portales (Eastern New Mexico University)[2]
Silver City (Western New Mexico University)[2]
New York[edit]
Alfred (Alfred University, Alfred State College)[2]
Albany (SUNY Albany, Siena College, Albany College of Pharmacy, Albany Law School, Albany Medical College, College of Saint Rose, Excelsior College, Maria College of Albany, Mildred Elley, Sage College of Albany)
Aurora (Wells College)[21]
Binghamton (Binghamton University)[2]
Brockport (SUNY Brockport)[5]
Buffalo (University at Buffalo)
Canton (St. Lawrence University, SUNY Canton)[2]
Clinton (Hamilton College)[2]
Cobleskill (SUNY Cobleskill)[2]
Delhi (SUNY Delhi)[2]
Fredonia (SUNY Fredonia)[2]
Geneseo (SUNY Geneseo)[2]
Geneva (Hobart and William Smith Colleges)
Hamilton (Colgate University)[2]
Ithaca (Cornell University, Ithaca College)[1]
Morningside Heights, Manhattan (Columbia University, Barnard College, Teachers College, Manhattan School of Music, Jewish Theological Seminary, Union Theological Seminary, Bank Street College of Education)
New Paltz (SUNY New Paltz)[2]
Oneonta (SUNY Oneonta, Hartwick College)[2]
Oswego (SUNY Oswego)[2]
Plattsburgh (SUNY Plattsburgh)[2]
Potsdam (SUNY Potsdam, Clarkson University)[2]
Poughkeepsie (Vassar College, Marist College)[2]
Purchase (Purchase College, Manhattanville College)[2]
Rochester (University of Rochester, Rochester Institute of Technology, Nazareth College, St. John Fisher College, Monroe Community College, Roberts Wesleyan College, SUNY Brockport, SUNY Empire State College)[2]
Saratoga Springs (Skidmore College)[2]
Seneca Falls (New York Chiropractic College)
Stony Brook (Stony Brook University)
Syracuse (Syracuse University, SUNY ESF, Upstate Medical University)
Tivoli (Bard College)
Troy (Rensselaer Polytechnic Institute, Russell Sage College, Hudson Valley Community College)
West Point (United States Military Academy)
North Carolina[edit]
Banner Elk (Lees-McRae College)
Boiling Springs (Gardner-Webb University)[2]
Boone (Appalachian State University)[2]
Buies Creek (Campbell University)[2]
Chapel Hill (University of North Carolina at Chapel Hill)[20]
Cullowhee (Western Carolina University)[2]
Davidson (Davidson College)[5]
Durham (Duke University, North Carolina Central University)[5]
Elon (Elon University)[2]
Greensboro (University of North Carolina at Greensboro, Greensboro College, Guilford College, North Carolina A & T State University, Bennett College)
Greenville (East Carolina University)[2]
Hickory (Lenoir-Rhyne University)[2]
Mars Hill (Mars Hill College)[2]
Mount Olive (Mount Olive College)[2]
Pembroke (University of North Carolina at Pembroke)[2]
Wilmington, North Carolina (University of North Carolina at Wilmington)
Wingate (Wingate University)[2]
Winston-Salem (Wake Forest University, University of North Carolina School of the Arts, Salem College, Winston-Salem State University)
North Dakota[edit]
Fargo (North Dakota State University)[18]
Grand Forks (University of North Dakota)[5]
Ohio[edit]
Ada (Ohio Northern University)[2]
Alliance (University of Mount Union)
Ashland (Ashland University)[2]
Athens (Ohio University)[2]
Berea (Baldwin Wallace College)
Bluffton (Bluffton University)[2]
Bowling Green (Bowling Green State University)[2]
Cedarville (Cedarville University)[2]
Columbus (Ohio State University)
Delaware (Ohio Wesleyan University)
Fairborn (Wright State University)
Findlay (University of Findlay)
Gambier (Kenyon College)[2]
Granville (Denison University)[2]
Hiram (Hiram College)[2]
Kent (Kent State University)[2]
Nelsonville (Hocking College)[2]
New Concord (Muskingum College)[2]
Oberlin (Oberlin College)[5]
Oxford (Miami University)[5]
Rio Grande (University of Rio Grande)[2]
Wilberforce (Wilberforce University, Central State University)[2]
Oklahoma[edit]
Ada (East Central University)[2]
Alva (Northwestern Oklahoma State University)[2]
Durant (Southeastern Oklahoma State University)[2]
Edmond (University of Central Oklahoma, Oklahoma Christian University)[2]
Goodwell (Oklahoma Panhandle State University)[2]
Langston (Langston University)[5]
Norman (University of Oklahoma)[1]
Stillwater (Oklahoma State University)[5]
Tahlequah (Northeastern State University)[2]
Tulsa (The University of Tulsa)
Weatherford (Southwestern Oklahoma State University)
Oregon[edit]
Ashland (Southern Oregon University)[2]
Corvallis (Oregon State University)[20]
Eugene (Lane Community College, Northwest Christian University, University of Oregon)[20]
Forest Grove (Pacific University)
Klamath Falls (Klamath Community College, Oregon Institute of Technology)
La Grande (Eastern Oregon University)[2]
Marylhurst (Marylhurst University)
McMinnville (Linfield College)
Monmouth (Western Oregon University)[2]
Newberg (George Fox University)
Pennsylvania[edit]
Altoona (Penn State Altoona)
Annville (Lebanon Valley College)[2]
Bethlehem (Lehigh University, Moravian College)
Bloomsburg (Bloomsburg University of Pennsylvania)[2]
Bradford (University of Pittsburgh at Bradford)
California (California University of Pennsylvania)[2]
Carlisle (Dickinson College)
Cecil B. Moore, Philadelphia, also known as "Templetown" (Temple University)
Clarion (Clarion University of Pennsylvania)[2]
Collegeville (Ursinus College)
Cresson (Mount Aloysius College)[2]
East Stroudsburg (East Stroudsburg University of Pennsylvania)[2]
Edinboro (Edinboro University of Pennsylvania)[2]
Erie (Gannon University, Mercyhurst College, Penn State Erie)
Gettysburg (Gettysburg College)[2]
Greensburg (Seton Hill University, University of Pittsburgh at Greensburg)
Grove City (Grove City College)[2]
Huntingdon (Juniata College)[2]
Indiana (Indiana University of Pennsylvania)[2]
Johnstown (University of Pittsburgh at Johnstown)
Kutztown (Kutztown University of Pennsylvania)[2]
Lancaster (Franklin & Marshall)
Lewisburg (Bucknell University)[5]
Lock Haven (Lock Haven University of Pennsylvania)[2]
Loretto (St. Francis University)[2]
Mansfield (Mansfield University of Pennsylvania)[2]
Meadville (Allegheny College)
Mont Alto (Penn State Mont Alto)
Millersville (Millersville University of Pennsylvania)[2]
New Wilmington (Westminster College)[2]
North East (Mercyhurst North East)

## 2 Créer un pandas data frame à partir d'un fichier txt
On veut créer un DataFrame nommé `towns_df` à partir du fichier 'university_towns.txt'

Nous voyons que nous avons des noms d'états périodiques suivis des villes universitaires de cet état: StateA TownA1 TownA2 StateB TownB1 TownB2 .... Si nous regardons la façon dont les noms d'états sont écrits dans le fichier, nous verrons qu'ils ont tous la sous-chaîne «[edit]» en eux.

Nous pouvons tirer parti de ce modèle en créant une liste de tuples (état, ville) et en enveloppant cette liste dans un DataFrame:

In [23]:
#lire le fichier ligne par ligne si on trouve [edit] n7toha state w ilba3edha ilkol line  jusqua trouve [edit] mara o5ra
university_towns = []
with open('C:/Users/dell/Desktop/Cours 3DNI/DATAmining/university_towns.txt') as file:
    for line in file:
        if '[edit]' in line:
             # se rappeler de ce `state` jusqu'à ce qu'on trouve le suivant
            current_state = line.strip()
        else:
             # Sinon, nous avons une ville; garder `state` 
            university_towns.append((current_state, line.strip()))

university_towns[:5]

[('Alabama[edit]', 'Auburn (Auburn University)[1]'),
 ('Alabama[edit]', 'Florence (University of North Alabama)'),
 ('Alabama[edit]', 'Jacksonville (Jacksonville State University)[2]'),
 ('Alabama[edit]', 'Livingston (University of West Alabama)[2]'),
 ('Alabama[edit]', 'Montevallo (University of Montevallo)[2]')]

In [25]:
towns_df = pd.DataFrame(university_towns,
                        columns=['State', 'RegionName'])
towns_df.head()

           State                                       RegionName
0  Alabama[edit]                    Auburn (Auburn University)[1]
1  Alabama[edit]           Florence (University of North Alabama)
2  Alabama[edit]  Jacksonville (Jacksonville State University)[2]
3  Alabama[edit]       Livingston (University of West Alabama)[2]
4  Alabama[edit]         Montevallo (University of Montevallo)[2]

## 3 Compléter la fonction `clean_up` pour nettoyer les colonnes de `towns_df`

In [26]:
## complétrer la fonction suivante ( à la place de pass)
def clean_up(item):
    if '(' in item:
        pass
        return item[:item.find('(') - 1]
    
    if '[' in item:
        return item[:item.find('[')]
    

towns_df =  towns_df.applymap(clean_up)
towns_df

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

# PART III ( OPTIONNELLE) 
## 1 Renaming columns and skipping rows
### 1.1 Convertir le fichier `olympics.csv` en dataframe pandas `olympics_df`

In [30]:

# Charger le fichier CSV en un DataFrame
olympics_df = pd.read_csv('olympics.csv')

# Afficher les premières lignes du DataFrame pour vérification
print(olympics_df.to_string(index=False))

                                           0        1    2    3    4     5        6    7    8    9    10      11   12   13   14             15
                                         NaN ? Summer 01 ! 02 ! 03 ! Total ? Winter 01 ! 02 ! 03 ! Total ? Games 01 ! 02 ! 03 ! Combined total
                           Afghanistan (AFG)       13    0    0    2     2        0    0    0    0     0      13    0    0    2              2
                               Algeria (ALG)       12    5    2    8    15        3    0    0    0     0      15    5    2    8             15
                             Argentina (ARG)       23   18   24   28    70       18    0    0    0     0      41   18   24   28             70
                               Armenia (ARM)        5    1    2    9    12        6    0    0    0     0      11    1    2    9             12
                     Australasia (ANZ) [ANZ]        2    3    4    5    12        0    0    0    0     0       2    3    4    5             12
                   Australia (AUS) [AUS] [Z]       25  139  152  177   468       18    5    3    4    12      43  144  155  181            480
                               Austria (AUT)       26   18   33   35    86       22   59   78   81   218      48   77  111  116            304
                            Azerbaijan (AZE)        5    6    5   15    26        5    0    0    0     0      10    6    5   15             26
                               Bahamas (BAH)       15    5    2    5    12        0    0    0    0     0      15    5    2    5             12
                               Bahrain (BRN)        8    0    0    1     1        0    0    0    0     0       8    0    0    1              1
                        Barbados (BAR) [BAR]       11    0    0    1     1        0    0    0    0     0      11    0    0    1              1
                               Belarus (BLR)        5   12   24   39    75        6    6    4    5    15      11   18   28   44             90
                               Belgium (BEL)       25   37   52   53   142       20    1    1    3     5      45   38   53   56            147
                               Bermuda (BER)       17    0    0    1     1        7    0    0    0     0      24    0    0    1              1
                     Bohemia (BOH) [BOH] [Z]        3    0    1    3     4        0    0    0    0     0       3    0    1    3              4
                              Botswana (BOT)        9    0    1    0     1        0    0    0    0     0       9    0    1    0              1
                                Brazil (BRA)       21   23   30   55   108        7    0    0    0     0      28   23   30   55            108
             British West Indies (BWI) [BWI]        1    0    0    2     2        0    0    0    0     0       1    0    0    2              2
                          Bulgaria (BUL) [H]       19   51   85   78   214       19    1    2    3     6      38   52   87   81            220
                               Burundi (BDI)        5    1    0    0     1        0    0    0    0     0       5    1    0    0              1
                              Cameroon (CMR)       13    3    1    1     5        1    0    0    0     0      14    3    1    1              5
                                Canada (CAN)       25   59   99  121   279       22   62   56   52   170      47  121  155  173            449
                             Chile (CHI) [I]       22    2    7    4    13       16    0    0    0     0      38    2    7    4             13
                           China (CHN) [CHN]        9  201  146  126   473       10   12   22   19    53      19  213  168  145            526
                              Colombia (COL)       18    2    6   11    19        1    0    0    0     0      19    2    6   11             19
                            Costa Rica (CRC)       14    1    1    2     4        6    0    0    0     0      20    1    1    2              4
                     Ivory Coast (CIV) [CIV]       12    0    1    0     1        0    0    0    0     0      12    0    1    0              1
                               Croatia (CRO)        6    6    7   10    23        7    4    6    1    11      13   10   13   11             34
                              Cuba (CUB) [Z]       19   72   67   70   209        0    0    0    0     0      19   72   67   70            209
                                Cyprus (CYP)        9    0    1    0     1       10    0    0    0     0      19    0    1    0              1
                  Czech Republic (CZE) [CZE]        5   14   15   15    44        6    7    9    8    24      11   21   24   23             68
                  Czechoslovakia (TCH) [TCH]       16   49   49   45   143       16    2    8   15    25      32   51   57   60            168
                           Denmark (DEN) [Z]       26   43   68   68   179       13    0    1    0     1      39   43   69   68            180
                          Djibouti (DJI) [B]        7    0    0    1     1        0    0    0    0     0       7    0    0    1              1
                    Dominican Republic (DOM)       13    3    2    1     6        0    0    0    0     0      13    3    2    1              6
                               Ecuador (ECU)       13    1    1    0     2        0    0    0    0     0      13    1    1    0              2
                       Egypt (EGY) [EGY] [Z]       21    7    9   10    26        1    0    0    0     0      22    7    9   10             26
                               Eritrea (ERI)        4    0    0    1     1        0    0    0    0     0       4    0    0    1              1
                               Estonia (EST)       11    9    9   15    33        9    4    2    1     7      20   13   11   16             40
                              Ethiopia (ETH)       12   21    7   17    45        2    0    0    0     0      14   21    7   17             45
                               Finland (FIN)       24  101   84  117   302       22   42   62   57   161      46  143  146  174            463
                    France (FRA) [O] [P] [Z]       27  202  223  246   671       22   31   31   47   109      49  233  254  293            780
                                 Gabon (GAB)        9    0    1    0     1        0    0    0    0     0       9    0    1    0              1
                               Georgia (GEO)        5    6    5   14    25        6    0    0    0     0      11    6    5   14             25
                     Germany (GER) [GER] [Z]       15  174  182  217   573       11   78   78   53   209      26  252  260  270            782
          United Team of Germany (EUA) [EUA]        3   28   54   36   118        3    8    6    5    19       6   36   60   41            137
                    East Germany (GDR) [GDR]        5  153  129  127   409        6   39   36   35   110      11  192  165  162            519
                    West Germany (FRG) [FRG]        5   56   67   81   204        6   11   15   13    39      11   67   82   94            243
                           Ghana (GHA) [GHA]       13    0    1    3     4        1    0    0    0     0      14    0    1    3              4
               Great Britain (GBR) [GBR] [Z]       27  236  272  272   780       22   10    4   12    26      49  246  276  284            806
                            Greece (GRE) [Z]       27   30   42   39   111       18    0    0    0     0      45   30   42   39            111
                               Grenada (GRN)        8    1    0    0     1        0    0    0    0     0       8    1    0    0              1
                             Guatemala (GUA)       13    0    1    0     1        1    0    0    0     0      14    0    1    0              1
                          Guyana (GUY) [GUY]       16    0    0    1     1        0    0    0    0     0      16    0    0    1              1
                             Haiti (HAI) [J]       14    0    1    1     2        0    0    0    0     0      14    0    1    1              2
                       Hong Kong (HKG) [HKG]       15    1    1    1     3        4    0    0    0     0      19    1    1    1              3
                               Hungary (HUN)       25  167  144  165   476       22    0    2    4     6      47  167  146  169            482
                               Iceland (ISL)       19    0    2    2     4       17    0    0    0     0      36    0    2    2              4
                             India (IND) [F]       23    9    6   11    26        9    0    0    0     0      32    9    6   11             26
                             Indonesia (INA)       14    6   10   11    27        0    0    0    0     0      14    6   10   11             27
                              Iran (IRI) [K]       15   15   20   25    60       10    0    0    0     0      25   15   20   25             60
                                  Iraq (IRQ)       13    0    0    1     1        0    0    0    0     0      13    0    0    1              1
                               Ireland (IRL)       20    9    8   12    29        6    0    0    0     0      26    9    8   12             29
                                Israel (ISR)       15    1    1    5     7        6    0    0    0     0      21    1    1    5              7
                         Italy (ITA) [M] [S]       26  198  166  185   549       22   37   34   43   114      48  235  200  228            663
                         Jamaica (JAM) [JAM]       16   17   30   20    67        7    0    0    0     0      23   17   30   20             67
                                 Japan (JPN)       21  130  126  142   398       20   10   17   18    45      41  140  143  160            443
                            Kazakhstan (KAZ)        5   16   17   19    52        6    1    3    3     7      11   17   20   22             59
                                 Kenya (KEN)       13   25   32   29    86        3    0    0    0     0      16   25   32   29             86
                           North Korea (PRK)        9   14   12   21    47        8    0    1    1     2      17   14   13   22             49
                           South Korea (KOR)       16   81   82   80   243       17   26   17   10    53      33  107   99   90            296
                                Kuwait (KUW)       12    0    0    2     2        0    0    0    0     0      12    0    0    2              2
                            Kyrgyzstan (KGZ)        5    0    1    2     3        6    0    0    0     0      11    0    1    2              3
                                Latvia (LAT)       10    3   11    5    19       10    0    4    3     7      20    3   15    8             26
                               Lebanon (LIB)       16    0    2    2     4       16    0    0    0     0      32    0    2    2              4
                         Liechtenstein (LIE)       16    0    0    0     0       18    2    2    5     9      34    2    2    5              9
                             Lithuania (LTU)        8    6    5   10    21        8    0    0    0     0      16    6    5   10             21
                        Luxembourg (LUX) [O]       22    1    1    0     2        8    0    2    0     2      30    1    3    0              4
                             Macedonia (MKD)        5    0    0    1     1        5    0    0    0     0      10    0    0    1              1
                        Malaysia (MAS) [MAS]       12    0    3    3     6        0    0    0    0     0      12    0    3    3              6
                             Mauritius (MRI)        8    0    0    1     1        0    0    0    0     0       8    0    0    1              1
                                Mexico (MEX)       22   13   21   28    62        8    0    0    0     0      30   13   21   28             62
                               Moldova (MDA)        5    0    2    5     7        6    0    0    0     0      11    0    2    5              7
                              Mongolia (MGL)       12    2    9   13    24       13    0    0    0     0      25    2    9   13             24
                            Montenegro (MNE)        2    0    1    0     1        2    0    0    0     0       4    0    1    0              1
                               Morocco (MAR)       13    6    5   11    22        6    0    0    0     0      19    6    5   11             22
                            Mozambique (MOZ)        9    1    0    1     2        0    0    0    0     0       9    1    0    1              2
                               Namibia (NAM)        6    0    4    0     4        0    0    0    0     0       6    0    4    0              4
                       Netherlands (NED) [Z]       25   77   85  104   266       20   37   38   35   110      45  114  123  139            376
        Netherlands Antilles (AHO) [AHO] [I]       13    0    1    0     1        2    0    0    0     0      15    0    1    0              1
                     New Zealand (NZL) [NZL]       22   42   18   39    99       15    0    1    0     1      37   42   19   39            100
                                 Niger (NIG)       11    0    0    1     1        0    0    0    0     0      11    0    0    1              1
                               Nigeria (NGR)       15    3    8   12    23        0    0    0    0     0      15    3    8   12             23
                            Norway (NOR) [Q]       24   56   49   43   148       22  118  111  100   329      46  174  160  143            477
                              Pakistan (PAK)       16    3    3    4    10        2    0    0    0     0      18    3    3    4             10
                                Panama (PAN)       16    1    0    2     3        0    0    0    0     0      16    1    0    2              3
                              Paraguay (PAR)       11    0    1    0     1        1    0    0    0     0      12    0    1    0              1
                              Peru (PER) [L]       17    1    3    0     4        2    0    0    0     0      19    1    3    0              4
                           Philippines (PHI)       20    0    2    7     9        4    0    0    0     0      24    0    2    7              9
                                Poland (POL)       20   64   82  125   271       22    6    7    7    20      42   70   89  132            291
                              Portugal (POR)       23    4    8   11    23        7    0    0    0     0      30    4    8   11             23
                           Puerto Rico (PUR)       17    0    2    6     8        6    0    0    0     0      23    0    2    6              8
                                 Qatar (QAT)        8    0    0    4     4        0    0    0    0     0       8    0    0    4              4
                               Romania (ROU)       20   88   94  119   301       20    0    0    1     1      40   88   94  120            302
                          Russia (RUS) [RUS]        5  132  121  142   395        6   49   40   35   124      11  181  161  177            519
                  Russian Empire (RU1) [RU1]        3    1    4    3     8        0    0    0    0     0       3    1    4    3              8
                    Soviet Union (URS) [URS]        9  395  319  296  1010        9   78   57   59   194      18  473  376  355           1204
                    Unified Team (EUN) [EUN]        1   45   38   29   112        1    9    6    8    23       2   54   44   37            135
                          Saudi Arabia (KSA)       10    0    1    2     3        0    0    0    0     0      10    0    1    2              3
                               Senegal (SEN)       13    0    1    0     1        5    0    0    0     0      18    0    1    0              1
                          Serbia (SRB) [SRB]        3    1    2    4     7        2    0    0    0     0       5    1    2    4              7
           Serbia and Montenegro (SCG) [SCG]        3    2    4    3     9        3    0    0    0     0       6    2    4    3              9
                             Singapore (SIN)       15    0    2    2     4        0    0    0    0     0      15    0    2    2              4
                        Slovakia (SVK) [SVK]        5    7    9    8    24        6    2    2    1     5      11    9   11    9             29
                              Slovenia (SLO)        6    4    6    9    19        7    2    4    9    15      13    6   10   18             34
                          South Africa (RSA)       18   23   26   27    76        6    0    0    0     0      24   23   26   27             76
                             Spain (ESP) [Z]       22   37   59   35   131       19    1    0    1     2      41   38   59   36            133
                       Sri Lanka (SRI) [SRI]       16    0    2    0     2        0    0    0    0     0      16    0    2    0              2
                                 Sudan (SUD)       11    0    1    0     1        0    0    0    0     0      11    0    1    0              1
                          Suriname (SUR) [E]       11    1    0    1     2        0    0    0    0     0      11    1    0    1              2
                            Sweden (SWE) [Z]       26  143  164  176   483       22   50   40   54   144      48  193  204  230            627
                           Switzerland (SUI)       27   47   73   65   185       22   50   40   48   138      49   97  113  113            323
                                 Syria (SYR)       12    1    1    1     3        0    0    0    0     0      12    1    1    1              3
           Chinese Taipei (TPE) [TPE] [TPE2]       13    2    7   12    21       11    0    0    0     0      24    2    7   12             21
                            Tajikistan (TJK)        5    0    1    2     3        4    0    0    0     0       9    0    1    2              3
                        Tanzania (TAN) [TAN]       12    0    2    0     2        0    0    0    0     0      12    0    2    0              2
                              Thailand (THA)       15    7    6   11    24        3    0    0    0     0      18    7    6   11             24
                                  Togo (TOG)        9    0    0    1     1        1    0    0    0     0      10    0    0    1              1
                                 Tonga (TGA)        8    0    1    0     1        1    0    0    0     0       9    0    1    0              1
             Trinidad and Tobago (TRI) [TRI]       16    2    5   11    18        3    0    0    0     0      19    2    5   11             18
                               Tunisia (TUN)       13    3    3    4    10        0    0    0    0     0      13    3    3    4             10
                                Turkey (TUR)       21   39   25   24    88       16    0    0    0     0      37   39   25   24             88
                                Uganda (UGA)       14    2    3    2     7        0    0    0    0     0      14    2    3    2              7
                               Ukraine (UKR)        5   33   27   55   115        6    2    1    4     7      11   35   28   59            122
                  United Arab Emirates (UAE)        8    1    0    0     1        0    0    0    0     0       8    1    0    0              1
         United States (USA) [P] [Q] [R] [Z]       26  976  757  666  2399       22   96  102   84   282      48 1072  859  750           2681
                               Uruguay (URU)       20    2    2    6    10        1    0    0    0     0      21    2    2    6             10

### 1.2 Supprimer la première ligne

In [31]:
# exporter 'olympics.csv' sous forme de data frame nommé olympics_df en supprimant la première ligne
# pour choisier le ligne de header avec le mot header 
#skiprows = 1 pour passe la ligne 1 et commencer data de tableau apres ligne 1
olympics_df = pd.read_csv('C:/Users/dell/Desktop/Cours 3DNI/DATAmining/olympics.csv', skiprows = 1, header = 0)

# Afficher les 5 premières lignes
olympics_df.head()

,Unnamed: 0,? Summer,01 !,02 !,03 !,Total,? Winter,01 !.1,02 !.1,03 !.1,Total.1,? Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

### 1.3 Changer le nom des colonnes en utilisant le dictionnaire suivant :
```python
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze',
              '? Winter': 'Winter Olympics',
              '01 !.1': 'Gold.1',
              '02 !.1': 'Silver.1',
              '03 !.1': 'Bronze.1',
              '? Games': '# Games', 
              '01 !.2': 'Gold.2',
              '02 !.2': 'Silver.2',
              '03 !.2': 'Bronze.2'}


```

In [35]:
# Changer le nom des colonnes en utilisant le dictionnaire new_names
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze',
              '? Winter': 'Winter Olympics',
              '01 !.1': 'Gold.1',
              '02 !.1': 'Silver.1',
              '03 !.1': 'Bronze.1',
              '? Games': '# Games', 
              '01 !.2': 'Gold.2',
              '02 !.2': 'Silver.2',
              '03 !.2': 'Bronze.2'}

olympics_df.rename(columns=new_names, inplace=True)







# Afficher les 5 premières lignes

In [36]:
olympics_df.head()

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12